--extra-index-url https://download.pytorch.org/whl/cpu
dartsort @ git+https://github.com/cwindolf/dartsort@iblsorter
dredge @ git+https://github.com/evarol/dredge@v0.2.2
h5py
hdbscan
iblatlas >= 0.3.0
ibllib
ibl_style
linear_operator
matplotlib
mock
numba
numpy >= 2.0
opt-einsum
pandas
pandera
pydantic
pytest
scikit-learn
scipy >= 1.13
seaborn
spikeinterface
torch >= 2.0
tqdm
xgboost